<template>

  <div class="Competenceexperience" id="e">
<h1 class="text-center mt-5">Skill / Expérience</h1>
<div class="row d-flex justify-content-center">

<div class="liste_skill col-sm-4 ">
<div class="mt-5">
<table class="table"  v-for="item in json.skill " :key="item">
  <tr class="text-dark text-center" style="border:solid 1px black; margin:5px; width:25%;"><b> Skill : {{item.title}}</b></tr>
</table>

</div>
</div>


<div class="liste_ex col-sm-4">
<div class="mt-5 ">
<table class="table "  v-for="item in json.experiences " :key="item">
  <tr class="text-dark text-center" style="border:solid 1px black; margin:5px; width:25%;"><b> Experiences : {{item.name}}</b></tr>
</table>

</div>
</div>
</div>

</div>
</template>

<script>
export default {

  name: 'Competenceexperience',
  props :['json'],
}
</script>