<template>
  <div class="Contact text-center mt-5" id="c">
<h1 class="mt-5">Contact / Info</h1>
<div class="row d-flex justify-content-center">

<div class="mt-5">

  <a type="submit"  href="mailto:corentin.viret74@gmail.com" class="btn btn-primary ml-3 " >Nous Contactez</a>
</div>
<div class="mt-5">

  <a  type="submit" target="_blank" href="https://drive.google.com/file/d/14GZ_MuJqNSKONY1-xpYJDMgaxUfdY4vZ/view?usp=sharing" class="btn btn-primary ml-3 ">téléchargement C.V</a>
</div>
		</div>
		</div>
</template>

<script>


export default {
  name: 'Contact',
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
