<template>
  <div class="Footer">
<footer style="background-color:black;">
    


    <div class="text-center p-5 " style="margin-top:160px;">
        <a class="text-white text-align: center;" href="https://simplon.co/"> ©2020 Copyright</a>
        <p class="text-white">dévelopeur web Corentin Viret</p>
    </div>

</footer>

  </div>
</template>

<script>
export default {
  name: 'Footer',
 
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->

