<template>
  <div class="Header" >
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <a class="navbar-brand text-white ml-4 " href="#">{{json.informations.first_name +"  "+json.informations.last_name}}</a>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-4 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link text-white ml-2" href="#r" id="1">{{$store.state.item1}}<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white ml-2" href="#e" id="2" >{{$store.state.item2}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white ml-2" href="#e" id="3">{{$store.state.item3}}</a>
      </li>
 <li class="nav-item">
        <a class="nav-link text-white ml-2" href="#c" id="4" >{{$store.state.item4}}</a>
      </li>
    </ul>

  </div>
</nav>

<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">

				<div class=" d-flex  justify-content-center  align-items-center" style="height:250px; width:100%; background-color:#A6A8B2;">
<h1 class="text-white titre" >{{$store.state.titre}}</h1>
   </div>
    
    </div>
  </div>
 </div>
 


</template>

<script>
export default {
  name: 'Header',
  props :['json'],

}




</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>


a{
font-size:19px;
}
.nav-link:hover{

background-color:red;

}
.titre:hover{

font-size:3rem;


}

</style>
