<template>
<div class="Realisation" id="r">

<h1 class="text-center mt-5">Réalisation</h1>

<div class="row d-flex justify-content-center mt-5">
  <div v-for="card in 2" :key="card" class="col-sm-4">
    <div class="card">
      <div class="card-body">
     <img class="card-img-top" src="https://www.communication-georeflet.com/images/realisations/2019/site-web/georeflet-communication-realisation-web-sovamep.jpg" alt="Card image cap">

      </div>
    </div>
  </div>
  </div>

</div>



</template>

<script>
export default {
  name: 'Realisation',
 
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
