<template>
  <div id="app">
    <Header :json="json"/>
    <Realisation/>
    <Competenceexperience  :json="json"/>
     <Contact/>
    <Footer/>
  </div>
</template>

<script>
import json  from './../data.json';
import Header from './components/Header.vue'
import Footer from './components/Footer.vue'
import Competenceexperience from './components/Competenceexperience.vue'
import Realisation from './components/Realisation.vue'
import Contact from './components/Contact.vue'

export default {
  name: 'App',
  components: {
    Header,
   Footer,
   Contact,
   Competenceexperience,
  Realisation,

  },
 data: function () {
  return {
    json
  }

},



}



</script>

<style>

body{

    overflow-x: hidden; 

}

  @media screen and (max-width: 990px) {
    .card {

   margin:5%;
     
    }
  .liste_skill {

   margin-right:10%;
   margin-left:10%;
     
    }
 .liste_ex {

   margin-right:10%;
   margin-left:10%;
     
    }
  }
.liste_comp{
margin-left:60%;


}



</style>